.landing-slider {
  // background-color: rgb(248, 79, 79);
  &__container{
    width: inherit;
  }
  &__item {
    width: inherit;
    height: inherit;
    // background-color: rgb(4, 226, 226);
  }
  &__img {
    width: inherit;
    // width: 90%;
    // margin-left: 5%;
    height: inherit;
    object-fit: contain;
  }

  &__button {
    font-size: 4rem;
    z-index: 1000;
    position: absolute;
    top: 50%;
    background-color: transparent;
    color: white;
    cursor: pointer;
    border: none;
    transform: translateY(-50%);

    &-left {
      left: 0.5rem;
      animation: shake 0.8s infinite 0.5s;

    }
    &-right {
      right: 0.5rem;
      animation: shake 0.8s infinite;

    }
    &__icon {
      width: 5rem;
      height: 5rem;
      filter: drop-shadow($shadow-text-dark);
      transition: all 0.2s linear;
      &:hover {
        margin-top: -3px;
      }

      &:active {
        margin-top: 2px;
      }
      @media only screen and (max-width: $bp-lg) {
        width: 4rem;
        height: 4rem;
      }
      @media only screen and (max-width: $bp-sm) {
        width: 3.5rem;
        height: 3.5rem;
      }
    }
    &__elaine {
      fill: $color-elaine-primary-light-1;
    }
    &__nora {
      fill: $color-nora-primary-light-1;
    }
  }

}
