.landing-gallery {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(
    to right,
    $color-elaine-primary 0,
    $color-elaine-primary 50%,
    $color-nora-primary 50%,
    $color-nora-primary 100%
  );

  position: relative;

  @media only screen and (max-width: $bp-lg) {
    height: 100vh;
    background-image: linear-gradient(
      155deg,
      $color-elaine-primary 0,
      $color-elaine-primary 50%,
      $color-nora-primary 50%,
      $color-nora-primary 100%
    );
    grid-template-columns: repeat(1, 1fr);
  }
  @media only screen and (max-width: $bp-lg) {
    background-image: linear-gradient(
      165deg,
      $color-elaine-primary 0,
      $color-elaine-primary 50%,
      $color-nora-primary 50%,
      $color-nora-primary 100%
    );
    grid-template-columns: repeat(1, 1fr);
  }
  @media only screen and (max-width: $bp-sm) {
    background-image: linear-gradient(
      165deg,
      $color-elaine-primary 0,
      $color-elaine-primary 50%,
      $color-nora-primary 50%,
      $color-nora-primary 100%
    );
    height: 190vh;
  }

  &__contents {
    max-width: $landing-max-width;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    z-index: 5;
    display: grid;
    grid-template-columns: 1fr 1fr;
    @media only screen and (max-width: $bp-lg) {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
    }
  }
  &__elaine,
  &__nora {
    height: 100%;
    width: 100%;
    max-width: $landing-max-width / 2;
    position: relative;
    overflow: hidden;
    z-index: 10;
    display: grid;

    @media only screen and (max-width: $bp-sm) {
      height: 90vh;
    }
  }
  &__elaine {
    justify-self: end;
    display: grid;
    grid-template-rows: 1fr 1fr;

    &__intro {
      width: 100%;
      display: grid;
      grid-template-columns: 2fr 1fr;
      align-items: center;
      padding: 5rem;
    }
    &__title {
      font-family: $font-display;
      text-shadow: $shadow-text-light;

      font-size: 5rem;
      transform: rotateZ(2deg);
    }
    &__link {
      position: absolute;
      height: 23rem;
      align-self: start;
      width: 30rem;
      cursor: pointer;
      grid-column: 2 / 3;
      grid-row: 1 / 3;

      & > * {
        position: absolute;
      }
      &-text {
        color: $color-milk-white;
        font-size: 1.6rem;
        top: 0;
      }
      &-arrow {
        width: 2rem;
        top: 6rem;
      }
      &-img {
        height: 15rem;
        animation: scale 1.5s infinite;
        bottom: 0;
      }
    }
    &__text {
      grid-column: 1 / 2;
      font-size: 1.8rem;
      font-weight: 500;
      transform: translateX(-2rem) rotateZ(-2deg);
      color: $color-milk-white;
      text-shadow: $shadow-text-dark;
    }
    &__slider {
      transform: rotateZ(-2deg);
      width: 60rem;
      height: 32rem;
      margin-left: 5%;
      margin-top: 10vh;
      z-index: 5;
    }
    @media only screen and (max-width: $bp-xxl) {
      &__slider {
        width: 50rem;
        height: 28rem;
      }
      &__intro {
        padding: 5rem 10rem;
      }

      &__text {
        width: 80%;
      }
      &__link {
        width: 12rem;
      }
    }
    @media only screen and (max-width: $bp-xl) {
      &__intro {
        width: 80%;
      }
    }
    @media only screen and (max-width: $bp-lg) {
      max-width: 100%;
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: 4fr 3fr;
      grid-template-rows: 1fr;
      &__intro {
        width: 100%;
        height: 100%;
        padding: 4rem 2rem;
        justify-items: center;
      }
      &__text {
        // grid-column: 1 / -1;
        width: 90%;
        transform: translateX(3rem) rotateZ(-2deg);
      }
      &__link {
        margin-top: 5%;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
      }
      &__slider {
        margin-top: 5%;
        // margin-left: 10%;
        width: 40rem;
        height: 25rem;
      }
    }
    @media only screen and (max-width: $bp-sm) {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      height: 90vh;
      &__intro {
        width: 95%;
        // row-gap: 6rem;
        padding-bottom: 0;
      }
      &__slider {
        width: 40rem;
        margin: 0 auto;
        align-self: end;
        margin-bottom: 20%;
      }
      &__title {
        align-self: end;
      }
      &__text {
        grid-column: 1 / -1;
      }
      &__link {
        height: 13rem;
        &-img {
          height: 10rem;
          right: 0;
        }
      }
    }
  }

  &__nora {
    display: grid;
    grid-template-rows: 3fr 1fr;
    &__slider {
      margin-top: 5%;
      margin-left: 20%;
      transform: rotateZ(5deg);
      width: 55rem;
      height: 32rem;
      z-index: 5;
    }
    &__intro {
      // background-color: #fff;
      align-self: end;
      width: 80%;
      height: 80%;
      margin-left: 15%;
      margin-bottom: 5%;
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-template-rows: 1fr 1fr;
      align-items: center;
    }
    &__title {
      align-self: start;
      justify-self: center;
      font-family: $font-display;
      font-size: 6rem;
      text-shadow: $shadow-text-light;
      grid-column: 2/3;
      grid-row: 2 / 3;
    }
    &__text {
      width: 100%;
      font-size: 1.8rem;
      font-weight: 500;
      color: $color-elaine-primary-light-1;
      text-shadow: $shadow-text-dark;
      transform: rotateZ(-5deg);
      grid-column: 1/2;
      grid-row: 1 / 3;
    }
    &__link {
      position: relative;
      height: 22rem;
      z-index: 100;
      cursor: pointer;
      grid-column: 2/3;
      grid-row: 1 / 2;
      & > * {
        position: absolute;
      }
      &-arrow {
        width: 3rem;
        top: 3rem;
        left: 2rem;
      }
      &-img {
        width: 15rem;
        bottom: 0;
        right: 0;
        animation: scale 1.5s infinite;
      }
      &-text {
        font-size: 1.6rem;
        color: $color-milk-white;
        top: 0;
      }
    }

    @media only screen and (max-width: $bp-xxxl) {
      // &__intro {
      //   width: 70%;
      //   right: 10%;
      // }
      // &__title {
      //   font-size: 5rem;
      // }
      // &__text {
      //   font-size: 1.6rem;
      // }
      // &__slider {
      //   height: 30rem;
      // }
    }
    @media only screen and (max-width: $bp-xxl) {
      &__slider {
        width: 45rem;
        top: 10%;
      }
    }
    @media only screen and (max-width: $bp-xl) {
      &__intro {
        margin-left: 10%;
        column-gap: 5rem;
      }
      &__slider {
        margin-top: 15%;
      }
    }
    @media only screen and (max-width: $bp-lg) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr;
      width: 100%;
      max-width: 100%;

      &__slider {
        margin-left: 10%;
        margin-top: 30%;
        width: 45rem;
        height: 25rem;
        transform: rotateZ(2deg);
      }
    }
    @media only screen and (max-width: $bp-sm) {
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: 1fr;
      &__slider {
        width: 40rem;
      }
    }
  }

  &__toggle {
    position: absolute;
    z-index: 200;
    & > button {
      border-top-color: #000;
    }
  }
}
